<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>
<main class="bg-gray-900 text-center text-red-100 w-full overflow-y-scroll">
  <div class="text-left p-8 ">
  
    <!-- header -->
    <div class="flex">
      <img class="mr-6" src="https://i.scdn.co/image/ab67616d00001e024f873c10ae066226995cee3f">
      <div class="flex flex-col justify-center">
        <!-- content -->
        <h4 class="mt-0 mb-2 uppercase text-gray-500 tracking-widest text-xs">Playlist</h4>
        <h1 class="mt-0 mb-2 text-white text-4xl">Gipsey</h1>
        
        <p class="text-gray-600 mb-2 text-sm">Call me J pop songs</p>
        <p class="text-gray-600 text-sm">Created by <a>Spotify</a> - 2 songs, 0 hr 4 min</p>
      </div>
    </div>
    
    <!-- action buttons -->
    <div class="mt-6 flex justify-between">
      <div class="flex">
        <button class="mr-2 bg-green-500 text-green-100 block py-2 px-8 rounded-full">Play</button>
        <button class="mr-2 border border-white block p-2 rounded-full"><img src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-256.png" height="25" width="25"></button>
        <!-- <button class="mr-2 border border-white block p-2 rounded-full">...</button> -->
      </div>
      <div class="text-gray-600 text-sm tracking-widest text-right">
    
      </div>
    </div>
    
    <!-- song list   -->
    <div class="mt-10">
      <!-- song list header -->
      <div class="flex text-gray-600">
        <div class="p-2 w-8 flex-shrink-0"></div>
        <div class="p-2 w-8 flex-shrink-0"></div>
        <div class="p-2 w-full">Title</div>
        <div class="p-2 w-full">Artist</div>
        <div class="p-2 w-full">Album</div>
        <div class="p-2 w-12 flex-shrink-0 text-right">Duration</div>
      </div>
      
      <div class="flex border-b border-gray-800 hover:bg-gray-800">
        <div class="p-3 w-8 flex-shrink-0">1</div>
        <div class="p-3 w-8 flex-shrink-0">test</div>
        <div class="p-3 w-full">อย่าบอกใครนะ</div>
        <div class="p-3 w-full">พรี่บิลลี่</div>
        <div class="p-3 w-full">Youtube</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">0:00</div>
      </div>
      <div class="flex border-b border-gray-800 hover:bg-gray-800">
        <div class="p-3 w-8 flex-shrink-0">2</div>
        <div class="p-3 w-8 flex-shrink-0">test</div>
        <div class="p-3 w-full">ยูวอนฮะ</div>
        <div class="p-3 w-full">dungeon master</div>
        <div class="p-3 w-full">Junk yard boyz</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">0:00</div>
      </div>
      <div class="flex border-b border-gray-800 hover:bg-gray-800">
        <div class="p-3 w-8 flex-shrink-0">3</div>
        <div class="p-3 w-8 flex-shrink-0">test</div>
        <div class="p-3 w-full">My Song Here</div>
        <div class="p-3 w-full">???</div>
        <div class="p-3 w-full">what?</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">0:00</div>
      </div>
      <div class="flex border-b border-gray-800 hover:bg-gray-800">
        <div class="p-3 w-8 flex-shrink-0">4</div>
        <div class="p-3 w-8 flex-shrink-0">test</div>
        <div class="p-3 w-full">My Song Here</div>
        <div class="p-3 w-full">yented</div>
        <div class="p-3 w-full">soundkaw</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">0:00</div>
      </div>
      <div class="flex border-b border-gray-800 hover:bg-gray-800">
        <div class="p-3 w-8 flex-shrink-0">5</div>
        <div class="p-3 w-8 flex-shrink-0">test</div>
        <div class="p-3 w-full">My Song Here</div>
        <div class="p-3 w-full">???</div>
        <div class="p-3 w-full">Spytifod</div>
        <div class="p-3 w-12 flex-shrink-0 text-right">0:00</div>
      </div>
    </div>
    </main>
  </div>