<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Musicu</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://www.freepnglogos.com/uploads/discord-logo-png/concours-discord-cartes-voeux-fortnite-france-6.png" type="image/icon type">
</head>
<body>
    <div class="flex h-screen bg-gradient-to-r from-pink-200 to-pink-400 p-4 rotate">
        <div class="sm:max-w-xl md:max-w-2xl w-full m-auto">
            <form method="POST"  class="flex items-stretch bg-white rounded-lg shadow-lg overflow-hidden border-t-4 border-indigo-500 sm:border-0">
                
                <div class="flex hidden overflow-hidden relative sm:block w-5/12 md:w-6/12 bg-white text-gray-300 py-4 bg-cover bg-center" style="background-image: url('/media/login-animate.svg')">
                    <div class="flex-1 absolute bottom-20 text-white p-10">
                    
                    </div>
                    <svg class="absolute animate h-full w-4/12 sm:w-2/12 right-0 inset-y-0 fill-current text-white" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                        <polygon points="0,0 100,100 100,0">
                    </svg>
                </div>
                <div class="flex-1 p-6 sm:p-10 sm:py-12">
                    <h3 class="text-xl text-gray-700 font-bold mb-6">
                        Register <span class="text-gray-400 font-light">to start listening</span></h3>

                        <input id="name" type="text" class="px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4 {{ $errors->has('email') ? ' border-red-500' : '' }}" name="email" value="" required autofocus placeholder="Email adress">

                    <input id="name" type="text" class="px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4 {{ $errors->has('name') ? ' border-red-500' : '' }}" name="username" value="" required autofocus placeholder="Username">
                    

                    <input id="password" type="password" class="px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4 {{ $errors->has('password') ? ' border-red-500' : '' }}" name="password" required placeholder="Password">
                    

                    <input id="password-confirm" type="password" class="px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4" name="password_confirmation" required placeholder="Confirm Password">

                    <div class="flex flex-wrap items-center">
                        <div class="w-full sm:flex-1">
                            <input type="submit" value="Register" class="w-full sm:w-auto bg-pink-300 text-white px-6 py-2 rounded hover:bg-black focus:outline-none cursor-pointer">
                        </div>
                    </div>

                    <p class="w-full text-xs text-left text-gray-700 mt-8">
                        Already have an account?
                        <a class="text-blue-500 hover:text-blue-700 no-underline" href="/login">
                            Login
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>