<%- include('partials/header.ejs') %>
<%- include('partials/sidebar.ejs') %>

<div class="flex">
    <img class="mr-6" src="https://memes.co.in/memes/update/uploads/2021/02/Screenshot_20200730-0220282-673x500.png">
    <div class="flex flex-col justify-center">
        <a>น้าม้าที่เธอชอบบ่นว่าไม่เท่ากัน
            สำหรับฉันว่ามันดีที่สุดในใจแล้ว
            
            หางคิ้วของเธอที่เขียนไม่เคยเท่ากัน
            รู้บ้างไหมว่ามันดีที่สุดในใจฉันแล้ว
            
            * ไม่ต้องพยายาม ไม่ต้องเปลี่ยนแปลงอะไรมากมายก็ได้หรอกเธอ
            เพียงเท่านี้ก็น่ารักดีอยู่แล้ว
            
            ** ที่เธอเป็นเธออย่างนี้นะดีอยู่แล้ว ที่เป็นเธอแบบนี้นะดีอยู่แล้ว
            เป็นความธรรมดาที่แสนจะพิเศษ มากกว่าใครใด ๆ ทั้งนั้น
            
            ที่เธอยิ้มอย่างนี้นะดีอยู่แล้ว ที่เธอเป็นแบบนี้นะดีอยู่แล้ว
            คนที่ฉันต้องการมากมายที่สุด ก็คือเธอแค่เพียงผู้เดียวเท่านั้น
            
            ดวงดาวใดเล่า จะงดงามเท่าดวงตาของเธอ
            ฉันว่าไม่มีแล้ว
            
            หญิงงามใดเล่า จะงดงามเท่าดวงใจของเธอ
            ฉันว่าไม่มีแล้ว
            
            (* **)
            
            </a>