* {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f7f7f7;
}

header {
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
  padding: 3rem;
}

.logo img {
  height: 6rem;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav ul li {
  margin: 0 3.6rem;
}

nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #1D1D1D;
}

nav ul li a:hover {
  color: #F8567B;
}

.images {
  margin-top: -5rem;
}

.images img {
  width: 40vw;
}

.container1 {
  height: 100vh;
  width: 100vw;
  background: url(/media/wave.png) no-repeat;
  background-size: 100% 10rem;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container1 .images {
  margin-top: -5rem;
}

.container1 .images img {
  width: 40vw;
}

.container1 .content {
  margin-top: 13rem;
  width: 40vw;
  -webkit-animation: animate 1s ease 1;
          animation: animate 1s ease 1;
}

.container1 .content h1 {
  font-size: 5rem;
  color: #1D1D1D;
}

.container1 .content h3 {
  font-size: 2.3rem;
  color: #F8567B;
  margin: 1rem 0;
}

.container1 .content p {
  font-size: 1.3rem;
  color: #1D1D1D;
}

.container1 .content .buttons button {
  height: 6rem;
  width: 16rem;
  background: #F8567B;
  color: #1D1D1D;
  border-radius: 5rem;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  margin: 2rem 0;
  border: none;
}

.container1 .content .buttons button:hover {
  background: #1D1D1D;
  color: #F8567B;
}

.container1 .content .buttons a:nth-child(2) button {
  margin-left: 2rem;
}

.container1 .content .icon {
  width: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container1 .content .icon a {
  text-decoration: none;
  color: #1D1D1D;
  font-size: 2.7rem;
}

.container1 .content .icon a:hover {
  color: #F8567B;
}

.joke {
  margin-top: -20rem;
  margin-left: 18rem;
}

.joke img {
  width: 10vw;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}
/*# sourceMappingURL=home.css.map */